.cursor
.next
node_modules
TEXT.txt
out
dist
coverage
reports/audit/*
src/generated/prisma
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
ref
.env.development
.env.production
tsconfig.tsbuildinfo
secret_key.txt